h1 {
  font-family: 'Splash', cursive;
}

li {
  font-family:"arial narrow";
}

body {
  background-image: url("../img/blue-marble.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 100vh;
}
*{
  margin: 0;
  padding: 0;
}