*{
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url(/css-demo/assets/img/marble.jpg);
  background-size: cover;
}

h1 {
  font-family: 'Splash', cursive;
}

li {
  font-family:arial narrow;
}

