h1 {
  font-family: 'Splash', cursive;
  font-size: 5em;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  
}

li {
  font-family:"arial narrow";
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url("../img/blue-marble.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
}

