html{
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}

body {
  background-image: url("../img/blue-marble.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
}

header{
	margin:auto;
  align-items: center; 
  text-align: center;
  margin: 20px 0 10px;
}

h1{
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 5em;
  margin: 20px 0 10px;
  color: #ffffff;
  text-shadow: #A48111 5px 0px 10px;
}

nav{
  background-color: rgb(197, 226, 237, .8);
	border: 3px solid #A48111;
	width: 500px;
  height: 800px;
	margin: auto;
  align-items: center;
  justify-content: center;
}

ul li{
  color: #ffffff;
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 2px;
  justify-content: space-around;
  font-family: 'Arial Narrow';
  font-size: large;
  
}

#plab{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
}
a{
  color: #ffffff;
  text-decoration: none;
  background: rgba(101, 140, 171, .8);
  padding: 8px 16px;
  border-radius: 0px;
  border: 1px solid hsla (0, 0%, 0%, .6);
  cursor: pointer;
  transition-duration: .5s;
  border: 1px solid #A48111;
  
}

  a:hover, a:active{
  background-color: #A48111;
  box-shadow: #A48111 1px 0 10px;
}

h2{
  background-color: #072635;
  color: #ffffff;
  text-align: center;
  font-family: 'Arial Narrow';
  width: auto;
  align-items: center;
  margin: auto;
}