h1{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fffafa;
}

body{
    color: #fffafa;
    background-image: url("../img/abstract-global.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
}