html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

body {
  background-color: #000000;
  font-family: "Verdana";
  margin: 0;
  color: white;
}
 
h1, h2, h3{
  text-shadow: 2px 2px 5px #ff00ff;
}

h4{
  text-decoration:underline overline #ff00ff
}

header.primary{
  text-align: center;
  background-color: black;
  color:#ffffff;
  padding: 6em 2m;
  position: relative;
}

header.primary::before {
  content: "";
  background-image: url("../img/editLogo.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  }

header.primary h1{
  font-size: 4em;
  color:white;
  position: relative;
  margin: 20px 0;
}

header.primary h1 a{
  color:white;
  width: 460px;
  height: 70px;
  margin: auto;
  white-space: nowrap;
  text-decoration: none;
}

header.primary h2{
  font-size: 2em;
  margin: 20px auto 40px;
  position: relative;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(142, 166, 184, 0.4);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.6s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(255, 0, 255, 0.8);
}

/*---------Articles---------*/

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 4em 0;
}

section#articles h3,
#content h3 {
  flex: 0 0 100%;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

section#articles h3 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(255, 0, 255, 0.4);
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 10px;
  background: black;
}


#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(255, 0, 255, 0.4);
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 10px;
}

#articles dt {
  padding: 0 20px;
  color: white;
  text-decoration: underline #ff00ff;
}
#articles dd {
  margin-bottom: 20px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

/*----------Footer----------*/
footer#colophon a{
  color: #ff00ff
}
footer#colophon h6 {
  color:white;
}

/*----------Table----------*/
th, td {
  border: 1px solid #ff00ff;
}

th{
  background-color: #ff00ff;
}